.add_form_container
{
  padding-left: 30px;
}

.add_input, .add_select
{
  display: block;
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
}

.add_select_keywords
{
  height: 60px;
}

.add_btn {
  width: 200px;
  height: 30px;
}

.validation-div
{
  display: block;
  color: red;
  margin-bottom: 15px;
}
