<div class="table-container">
  <table class="campaign-table">
    <thead>
      <th>NAME</th>
      <th>KEYWORDS</th>
      <th>BID AMOUNT</th>
      <th>FUND</th>
      <th>STATUS</th>
      <th>TOWN</th>
      <th>RADIUS (km)</th>
    </thead>
    <tbody >
      <tr *ngFor="let campaign of campaigns; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
        <td>{{campaign.name}}</td>
        <td>{{campaign.keywords}}</td>
        <td>{{campaign.bidAmount}}</td>
        <td>{{campaign.fund}}</td>
        <td>{{campaign.status}}</td>
        <td>{{campaign.town}}</td>
        <td>{{campaign.radius}}</td>
        <td><a style="cursor: pointer"  (click)="show = true" (click)="changeCampaign(campaign)">Edit</a></td>
        <td><a style="cursor: pointer"  (click)="deleteCampaign(campaign.id)" (click)="show=false">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="edit_container" *ngIf="show">
  <h3>Edit campaign</h3>

  <form #addForm="ngForm">

    <label class="add_campaign_label">Name:</label>
    <input type="text" class="add_input" placeholder="Name"
           [(ngModel)]="campaign.name" name="name" required [formControl]="nameControl"/>
    <div *ngIf="isFieldValid('name')" class="validation-div">
      <label>Name is required!</label>
    </div>

    <label class="add_campaign_label">Keywords:</label>
    <select class="add_select add_select_keywords" [(ngModel)]="campaign.keywords"
            name="keywords" required [formControl]="keywordsControl"
            multiple>
      <option *ngFor="let keyword of keywords">{{keyword}}</option>
    </select>
    <div *ngIf="isFieldValid('keywords')">
      <label class="validation-div">Keywords is required!</label>
    </div>

    <label class="add_campaign_label">Bid amount:</label>
    <input type="number" class="add_input" placeholder="Bid amount"
           [(ngModel)]="campaign.bidAmount" name="bidAmount" required [formControl]="bidControl"/>
    <div *ngIf="isFieldValid('bidAmount')">
      <label class="validation-div">Bid amount is required and must be a number!</label>
    </div>

    <label class="add_campaign_label">Fund:</label>
    <input type="number" class="add_input" placeholder="Fund" [(ngModel)]="campaign.fund" name="fund"
           required [formControl]="fundControl"/>
    <div *ngIf="isFieldValid('fund')">
      <label class="validation-div">Fund is required and must be a number!</label>
    </div>

    <label class="add_campaign_label">Status:</label>
    <select class="add_select" [(ngModel)]="campaign.status" name="status" required [formControl]="statusControl" >
      <option value="" disabled selected>Select status</option>
      <option>on</option>
      <option>off</option>
    </select>
    <div *ngIf="isFieldValid('status')">
      <label class="validation-div">Status is required!</label>
    </div>

    <label class="add_campaign_label">Town:</label>
    <select class="add_select" [(ngModel)]="campaign.town" name="town" required [formControl]="townControl">
      <option *ngFor="let town of towns" [ngValue]="town">{{town}}</option>
    </select>
    <div *ngIf="isFieldValid('town')">
      <label class="validation-div">Town is required!</label>
    </div>

    <label class="add_campaign_label">Radius in km:</label>
    <input type="number" class="add_input" placeholder="Radius"
           [(ngModel)]="campaign.radius" name="radius" required [formControl]="radiusControl"/>
    <div *ngIf="isFieldValid('radius')">
      <label class="validation-div">Radius is required and must be a number!</label>
    </div>

    <input type="submit" class="add_btn" value="Save campaign" (click)="saveChanges()" (click)="show=false"/>
    <input type="submit" class="add_btn" value="Cancel" (click)="show=false" (click)="getCampaigns()"/>

  </form>
</div>
